# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# Streamlit Secrets (PENTING! JANGAN PERNAH DI-COMMIT)
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Notebook & Cache
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
